/*  phan  body///////////////////////////////////////////////// */
body{
     box-sizing: border-box;
     padding: 0; margin:  0;
     background-color: white;
}
/*  phan  top dau///////////////////////////////////////////////// */
.top{
     background-color: rgba(0, 0, 0, 0.412);
     height:  70px;
     width: auto;
     display: flex;
}
.logo{
     padding-left: 3em;
     height: 70px;
     width: auto;
}
.div_search{
     display:  flex;
     margin: 0 auto;
     margin-top: 1em;
}
#inp_search{
     height: 2em;
     width: 23em;
     border: 1px solid rgba(0, 0, 0, 0.536);
     border-radius: 4px;
     box-shadow: inset  0 0 8px #9e9e9e;
}
span#btn_search_material{
     color: black;
}
button#btn_search{
     height: 2em;
     width: auto;
     border: 1px solid rgba(0, 0, 0, 0.536);
     border-radius: 4px;
}
a{
     text-decoration: none;
     /* color: rgba(0, 0, 0, 0.858); */
     color: rgba(165, 42, 42, 0.903);
}
i{
     font-weight: 20px;
}
.login_res{
     margin-right: 3em;
     margin-top: 0.5em;
     text-align: center;
     
}
#person.material-symbols-outlined{
     font-size: 19px;
     border: 1px solid white;
     background-color: rgba(255, 228, 196, 0.547);
     border-radius: 4px;
}
span.material-symbols-outlined{
     vertical-align: middle;
     line-height: normal;
}
.right{
     display: inline-block;
     padding-top: 0.5em;
     
}
/*  den phan meneu //////////////////////////////////////////////////////////////// */
.nav{
     display: inline-block;
     border: 2px solid black;
     box-shadow: 0 0 10px #ccc;
     width: 100%;height: 30px;
     background-color: rgba(0, 0, 0, 0.711);
     /* background-color: rgba(255, 255, 255, 0.207) */
}
.sanPham{
     border: 2px solid brown;
     border-radius: 6px;
     width: 9%;height: auto;
     text-align: center;
     float: left;
     margin-left: 10em;
     margin-top: 0.5em;
     color: white;
}