<style>
h1 {
  color: red;
  font-size: 30px;
  text-align: center;
}
h2 {
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: Silver;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-left: auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info span {
  margin-bottom: 5px;
}

.social-links a {
  margin-left: 10px;
}

.right-section {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.center img {
  margin: 0 auto;
  width: 500px;
  height: 300px;
}

a {
  margin: -1px;
  padding: 7px;
  font-size: 10px;
  background-color: red;
  color: #fff;
  text-decoration: none;
  z-index: 9999;
  position: fixed;
  top: 0;
}

.highlight {
  color: red;
}
</style>