*{
     padding: 0;margin: 0;
     box-sizing: border-box;
}
/* root */
:root{
     --body-color: rgb(222, 214, 214);
     --hed-color: #be7b48;
}
/*  San-Pham */
.Tong-San-Pham{
     float: left;
     width: 90%;
     margin-top: 8%;
     margin-left: 4%;

}
.San-Pham{
     border: 1px solid white;
     float: left;
     width: 50%;
     height: 450px;
     background-color: white;
     border-radius: 10px 120px 10px 10px;
}
.img-San-Pham{
     width: 45%;
     height: auto;
     transform: translate(-50% -50%);
     text-align: center;
     margin-left: 25%;
}
.text-San-Pham{
     margin-left: 4%;
     border: 1px solid black;
     float: left;
     width: 45%;
     height: auto;
     background-color: var(--body-color);
}
.title{
     padding: 25px;
     font-size: 25px;

}