*{
     padding: 0;margin: 0;
     box-sizing: border-box;
}
/* root */
:root{
     --body-color: rgb(222, 214, 214);
     --hed-color: #be7b48;
}
/*  San-Pham */
.San-Pham{
     display: flex;
     float: left; 
     width: 50%;
     margin-top: 150px;
     margin-left: 2%;
}
.div-img-San-Pham{
     display: block;
     float: left;
     width: 100%;
     height: 450px;
     border-radius: 5px 150px 5px 5px;
     border: 1px solid var(--hed-color);
     box-shadow:  0px 0px 1px 1px #7f6666;
     background-color: white;
}
.img-San-Pham{
     border-radius: 0px 150px 0px 0px;
     width: auto;
     height: 100%;
     object-fit: cover;
     object-position:right;
     margin-left: 100px;
}
.img-San-Pham:hover{

}
.text-San-Pham{
     
}