
.container {
    position: sticky;
    top: 10px;
    background-color: rgb(107, 15, 15);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    color: white;
    overflow: hidden;
    width: 100vw;
  }
  
  .container a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .content {
    margin-top: 2cm;
  }
  .containerr {
      text-align: center;
      padding: 20px;
      background-color: #f5f5f5;
    }
    .contact-info {
      text-align: left;
      margin-bottom: 20px;
    }
    .logo {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
    .logo img {
      width: 50%;
      height: 50%;
      border-radius: 50%;
    }
    .contact-info img {
      width: 150px;
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction :column;
    }
    
  